@model int  // We only need to pass userID to this view

@{
    ViewData["Title"] = "Home Page";
    var userID = ViewData["userID"];
    var products = ViewData["Products"] as List<POE_CloudDev.Models.ProductsTable>;
}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <style>
        body, html {
            background-image: url("/Images/BackGround/BackImg2.png");
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            margin: 0;
            padding: 0;
            padding-bottom: 50px;
        }

        h1, h2 {
            text-align: center;
            padding: 10px;
            font-weight: bold;
            color: white;
        }

        h2 {
            text-align: center;
            color: black;
            font-size: 20px;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            max-width: 300px;
            margin: auto;
            text-align: center;
            font-family: arial;
        }

        .price {
            color: grey;
            font-size: 22px;
        }

        .card button {
            border: none;
            outline: 0;
            padding: 12px;
            color: white;
            background-color: #000;
            text-align: center;
            cursor: pointer;
            width: 100%;
            font-size: 18px;
        }

            .card button:hover {
                opacity: 0.7;
            }

        .footer {
            background-color: rgba(23, 23, 23,0.2);
            text-align: center;
            color: white;
        }

       
    </style>
    </head>
<body>

    <nav>
        <!-- existing navigation links -->
        <a href="AddProduct">Sell</a>
    </nav>
    <div class="container">
        <h1>My Shop</h1>
        @if (userID != null)
        {
            <h1>Welcome User: @userID</h1>
        }

    <div class="card-container">
     @foreach (var product in products){
        <form action="PlaceOrder" method="post">
        <div class="card">
        <img src="@product.ImageUrl" alt="@product.Name" style="width:100%">
        <h2>@product.Name</h2>
        <h2>@product.ProductID</h2>
        <p class="price">@product.Price</p>
        <p>@product.Description</p>
            <div class="button">
                 <input type="hidden" name="productID" value="@product.ProductID"/>
                 <button type="submit">Place Order</button>
            </div>
        </div>
      </form>
     }
           
     </div>  

    </body>
</html>
